/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: wheat;
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.ancho {
    width: 100%;
}

.button {
    height: 50px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.demo-button-container {
    padding-top: 16px;
    margin-left: 45%;
}

.demo-button+.demo-button {
    margin-left: 16px;
}